 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior:smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #fdfdfd;
    --text-color: rgba(36, 58, 116);
    --main-color: rgb(27, 34, 141);
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
    --form-color: #E6F3FF;
    --ftxt-color:#1A365D;

}
.dark-mode{
    --bg-color: #0b061f;
    --text-color: #fafafa;
    --shadow-color: rgba(0, 0, 0, .7);
    --form-color: #fdfdfd;
    --ftxt-color:rgb(27, 34, 141);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    z-index: 100;
    transition: 5s;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .7);
}
#menu{
    font-size: 3.8rem;
    color: var(--main-color);
    display: none;
}
#darkMode-icon{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--text-color);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}
.navbar a{
    position: relative;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-right: 3.5rem;
}
section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}
.home{
    display: flex;
    align-items: center;
}
.home .home-content{
    max-width: 70rem;
    padding-bottom: 20rem;
}
.home-content h3{
    font-size: 3rem;
    font-weight: 700;
    line-height: .3;
}
.home-content h1{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: .3rem;
}
.home-content p{
    font-size: 1.6rem;
}
.home-content h3 span{
    color: rgb(13, 142, 216);
}
.home-content h3{
    line-height: 10rem;
}
.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: 7rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s;
    
}
.btn:hover{
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}
.btn2{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: transparent;
    border-radius: 7rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--main-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
    border-color: var(--main-color);
}
.btn2:hover{
    background: var(--main-color);
    color: var(--white-color);
}
span{
    color: #fdfdfd;
}
.image{
        position: absolute;
        width: 20%;
        height: 50vh;
        left: 45%;
}
.image img{
    padding-left:5rem;
}
.search{
    position: absolute;
    top: 60%;
    width: 25%;
}
.search-input {
    width: 65%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px ;
    height: 4rem;
}
.search-button {
    padding: 10px 20px;
    background-color: var(--main-color); 
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    left:55%;
    height: 4rem;
    width: 20%;
}
.search-button:hover {
    background: rgb(5, 5, 77);
}
.navbar a:hover{
    font-weight: 900;
}
.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--text-color);
}
.header.sticky .navbar a::before{
    background: var(--text-color);
    opacity: .7;
}
.heading{
    font-size: 4.5rem;
    text-align: center;
}
.courses{
    padding-bottom: 7rem;
}
.courses h2{
    margin-bottom: 5rem;
}
.courses .courses-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.courses-container .courses-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}
.courses-container .courses-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}
.courses-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.courses-box h3{
    font-size: 2.6rem;
    transition: .5s ease;
}
.courses-box:hover h3{
    color: var(--main-color);
}
.courses-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.about-img img{
    width: 35vw;
}
.heading{
    font-size: 5rem;
    text-align: center;
}
.about-content h2{
    text-align: left;
    line-height: 1.9;
}
.about-content h3{
    font-size: 3rem;
}
.about-content p{
    font-size: 1.7rem;
    margin: 2rem 0 3rem;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contact h2{
    margin-bottom: 3rem;
    font-size: 6rem;
}
.contact form{
    width: 100rem;
    height: 60rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}
.contact form textarea{
    height: 36rem;
}
.contact form .input-box input{
    width: 49%;
}
.contact form .input-box{
    gap: 1rem;
}
.contact form textarea{
    resize:none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
    color: var(--white-color);
}
.contact form .btn:hover{
    color: var(--main-color);
}
.contact a{
    margin-top: 2rem;
}
.social-media a{
    margin: 2.5rem .75rem 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--white-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--white-color);
    margin : 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social-media .fb:hover{
    background-color: #1877f2;
    border: .2rem solid #1877f2;
}
.social-media .lkd:hover{
    background-color: #0077b5;
    border: .2rem solid #0077b5;
}
.social-media .yt:hover{
    background-color: #ff0000;
    border: .2rem solid #ff0000;
}
.social-media .ig:hover{
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    border: none;
}
.social-media{
    position: relative;
    left: 25%;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap ;
    padding: 2rem 7%;
    background: var(--main-color);
}
.footer-text p{
    font-size: 1.6rem;
    color: var(--white-color);
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}
.footer-iconTop a:hover{
    outline-color: var(--white-color);
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: #333;
}
.head{
    color: var(--ftxt-color);
    font-size:2.0rem;
    font-weight: 600;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.7rem;
}
.head h4{
    padding-top: 1rem;
}
.input{
    width: 100%;
    font-family: inherit;
}
.nm{
    display: flex;
    justify-content: space-between;
}
.name{
    background-color: transparent;
    height: 3.5rem;
    width: 17.5rem;
    font-size: 15px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid var(--ftxt-color);
    outline: none;
}
#email,#pass,#dateOfBirth{
    background-color: transparent;
    height: 3.5rem;
    width: 36rem;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid var(--ftxt-color);
    font-size: 15px;
    line-height: 16px;
    outline: none;
}
.auth{
    padding-bottom: 1.8rem;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}
.email{
    padding-bottom: 2rem;
}
.gender{
    display: flex;
    justify-content:space-between ;
    padding-bottom: 1.8rem;
}
.Gen{
    color: var(--ftxt-color);
}
span i{
    color: var(--white-color);
}
.sex{
    height: 3.5rem;
    width: 11.5rem;
    font-size: 15px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid var(--ftxt-color);
    display: flex;
    align-items:center;
    padding-right: 2rem;
    color: var(--bg-color);
    justify-content: space-between;
}
.signup{
    background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    height: 3.6rem;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
    transition: .5s;
}
.container button{
    position: relative;
    left: 32.5%;
}
.auth p{
    font-size: 1.4rem;
    padding-top: .8rem;
    padding-bottom: .4rem;
    padding-left: .2rem;
    color: var(--ftxt-color);
}
.txt{
    font-size: 1.5rem;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    color: var(--ftxt-color);
}
.txt a{
    padding-left: 2%;
    color: var(--ftxt-color);
}
.txt a:hover{
    text-decoration: underline;
}
button#signup:hover{
    background-color: darkgreen;
}
.container2{
    position: relative;
    left: 0;
    height: 47rem;
    width: 40rem;
    border-radius: 1.6rem;
    border-top: .2rem solid var(--ftxt-color);
    border-bottom: .2rem solid var(--ftxt-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    display: none; 
    transition: .5s; 
    background-color: var(--form-color);
}
.container2:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}
.container2.show{
    display: flex; 
    pointer-events: all;
}
.container2 input{
    pointer-events: fill;
    cursor: pointer;
}
.container2 h2{
    font-size: 3.5rem;
    color: var(--ftxt-color);
    margin-top: 5rem;
}
.fullCover{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    left: 0;
    background: hsla(0, 1%, 68%, 0.753);
}
.fullCover.cover{
    display: flex;
}
.login_mail2{
    height: 4rem;
    width: 35rem;
    border-bottom: 2px solid var(--ftxt-color);
    display: flex;
    justify-content: center;
    
}
.login_pass2{
    height: 4rem;
    width: 35rem;
    border-bottom: 2px solid var(--ftxt-color);
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.login_btn2 #log_in2{
    height: 5rem;
    width: 35rem;
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--ftxt-color);
    border-radius: 7px;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s;
    margin-top: 5rem;
}
.login_btn2 #log_in2:hover{
    background-color:rgb(5, 5, 77);
    transition: .5s;
}
#mail2{
    width: 100%;
    margin-left: 2rem;
    font-size: 1.5rem;
    background: transparent;
}
#pass2{
    width: 100%;
    margin-left: 2rem;
    font-size: 1.5rem;
    background: transparent;
}
.forgot2 label{
    color: var(--ftxt-color);
}
.forgot2{
    font-size: 1.35rem;
    margin: 10px 0 15px;
    justify-content: space-between;
    margin-top: 3rem;
}
.forgot2 a{
    position: relative;
    left: 27%;
    color: var(--ftxt-color);
}
#forget2:hover{
    text-decoration: underline;
}
.elements2{
    margin-top: 1rem;
}
.close2{
    color: var(--white-color);
    font-size: 3rem;
    position: absolute;
    left: 89.5%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    background-color: var(--ftxt-color);
    margin-left: 2px;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close2:hover{
    background-color: rgb(5, 5, 77);
    transition: .5s;
}
.icon-mail2{
    position: absolute;
    font-size: 2rem;
    color: var(--ftxt-color);
    left: 85%;
}
.lock{
    position: absolute;
    font-size: 2rem;
    color: var(--ftxt-color);
    left: 85%;
}
/* otp */
.container3{
    position: relative;
    left:-6%;
    width: 50rem;
    background-color: var(--form-color);
    padding: 0 30px;
    display: grid;
    gap: 20px;
    padding-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    transition: .5s;
    opacity: 0;
}
.container3:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}
.container3.show2{
    opacity: 1;
}
.container3 input{
    width: 100%;
    padding: 10px;
    border-radius:6px ;
    border: 1px solid var(--ftxt-color);
    background-color: var(--form-color);
}
.container3 #mail3{
    height: 4.5rem;
}
.container3 h1{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    color: var(--ftxt-color);
}
.otpverify{
    width: 100%;
    display: flex;
    gap: 20px;
    padding-top: 1rem;
}
.btn3{
    width: 15rem;
    height: 4.5rem;
    background-color: #82eec1;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.5rem;
}
.btn3:hover{
    background-color: rgb(103, 229, 191);
}
.pad{
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.close3{
    color: var(--white-color);
    font-size: 3rem;
    position: absolute;
    left: 91.5%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    background-color: var(--ftxt-color);
    margin-left: 2px;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close3:hover{
    background-color: rgb(5, 5, 77);
    transition: .5s;
}
.otpverify{
    display: none;
}
.otpverify.active{
    display: flex;
}
.test{
    padding-bottom: 10rem;
}
.test h2{
    margin-bottom: 4rem;
}
.test .test-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.test-container .test-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(5, 5, 5, 0.1);
    overflow: hidden;
}
.test-box img{
    width: 100%;
    transition: .5s ease;
}
.test-box:hover img{
    transform: scale(1.1);
}
.test-box .test-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transition: .5s ease;
}
.test-layer h4{
    font-size: 3rem;
}
.test-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.test-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}
.test-layer a:hover{
    border: 4px solid var(--shadow-color);
    transition: .5s ;
}
.test-layer a i{
    font-size: 2rem;
    color: #333;
}
.thankyou{
    position: absolute;
    left: 37%;
    visibility: hidden;
    width: 46rem;
    height: 32rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: 0.4s ease;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}
.open-popup{
    visibility: visible;
}
.thankyou:hover{
            transform: scale(1.02);
            box-shadow: 0 .1rem 2rem var(--shadow-color);
    }
    .thankyou h2{
        padding-top: 1rem;
        font-size: 4rem;
        letter-spacing: 0.1rem;
    }
    .thankyou p{
        font-size: 2rem;
    }
    #ok{
        width: 80%;
        height: 6rem;
        border-radius: 6px;
        font-size: 2rem;
        font-weight: 500;
        background-color: #695cfe;
        color: #fff;
        transition: 0.3s ease;
        cursor: pointer;
        margin-top: 2rem;
    }
    #ok:hover{
    background-color: #4c4cfe;
    transition: 0.3s ease;
}
.image2{
    width: 8rem;
    position: absolute;
    top: -3rem;
}
@media(max-width:1700px){
    .container{
        padding: 0 2rem;
    }
    .container2{
        padding: 0 2rem;
    }
}
@media(max-width:1550px){
    html{
        font-size: 55%;
    }
    .image{
        height: 50vh;
        width: 15%;
    }
    .search-input{
        width: 80%;
    }
    .search-button {
        width: 27%;
    }
    .container{
        padding: 0 2rem;
    }
    .container2{
        padding: 0 2rem;
    }
    .ratio{
        left: 1.8rem;
    }
    .txt{
        font-size: 1.7rem;
    }
    .forgot2{
        font-size: 1.5rem;
    }
    a .forget2{
        margin-left: -3rem;
    }
}
@media(max-width:1300px){
    html{
        font-size: 50%;
    }
    .image{
        height: 40vh;
    }
    .search{
        width: 60vw;
        height: 10vh;
    }
    .search-input {
        width: 45%;
        height: 5.3rem;
        font-weight: 600;
        padding-left: 4rem;
        font-size: 1.7rem;
    }
    .search-button {
        width: 15%;
        height: 5.3rem;
        left: 40%;
        font-size: 1.7rem;
    }
    .ratio{
        left: 10%;
    }
}
@media(max-width:1050px){
    html{
        font-size: 40%;
    }
    .navbar a{
        font-size: 2.3rem;
    }
    .navbar a span{
        font-size: 2.3rem;
    }
    .logo{
        font-size: 3rem;
    }
    .home{
        font-size:4.2rem ;
        top: 50%;
        overflow: hidden;
    }
    .image{
        height: 40vh;
        width: 10%;
    }
    .courses{
        padding-bottom: 7rem;
    }
    .home-content h3{
        font-size: 3rem;
    }
    .home-content h1{
        font-size: 6rem;
    }
    .search{
        width: 60vw;
        height: 10vh;
        
    }
    .search-input {
        width: 50%;
        height: 6rem;
        font-weight: 600;
    }
    .search-button {
        width: 17%;
        height: 6rem;
        bottom: 78%;
        left: 40%;
    }
    #darkMode-icon{
        font-size: 3.5rem;
    }
    .contact{
        min-height: 80vh;
        width: 100%;
    }
    
    .courses {
        min-height: 70vh;
        padding-bottom: 3rem;
    }
    .footer-text p{
        font-size: 2.3rem;
    }
    .footer{
        padding: 2rem 3%;
    }
    .social-media{
        padding-right: 30rem;
        
    }
    .social-media a{
        height: 5rem;
        width: 5rem;
        font-size: 2.7rem;
    }
    .footer-iconTop{
        height: 5rem;
        width: 5rem;
    }
    .test{
        padding-bottom: 7rem;
    }
    .test h2{
        margin-bottom: 3rem;
    }
    .test .test-container{
        grid-template-columns: repeat(2,1fr);
    }
    .about{
        flex-direction: column-reverse;
        text-align: center;
    }
    .about-content h2{
        text-align: center;
    }
    .about-img img{
        width: 60vw;
        margin-top: -2rem;
        height: 60vh;
    }
    .about-content h2{
        font-size: 8rem;
    }
    .about-content h3{
        font-size: 5rem;
    }
    .about-content p{
        font-size: 3rem;
    }
    .about-content .btn{
        height: 8rem;
        width: 25rem;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-content span.btn{
        position: relative;
        left: 38%;
    }
    .courses .courses-container{
        grid-template-columns: repeat(2,1fr);
    }
    .courses-box h3{
        font-size: 3rem;
    }
    .courses-box p{
        font-size: 2rem;
    }
    .search-input{
        font-size: 2rem;
        height: 6rem;
    }
    .search-button{
        font-size: 2rem;
        bottom: 52.5%;
        height: 6rem;
    }
    .container{
        left: 10%;
        height: 58rem;
        width: 44rem;
    }
    .nm #fn,#ln{
        font-size: 2rem;
    }
    .auth #email,#pass{
        font-size: 2rem;
    }
    .Gen{
        font-size: 1.8rem;
    }
    .sex{
        padding-right: 3rem;
    }
    .auth p{
        font-size: 1.8rem;
    }
    }

@media(max-width:980px){
    .search{
        width: 70vw;
        height: 20vh;
    }
    .search-input{
        width: 45%;
        height: 6.1rem;
        font-size: 1.8rem;
    }
    .search-button {
        width: 14%;
        left: 34%;
        top: 0;
        font-size: 1.8rem;
        height: 6.1rem;
    }
    .test-layer h4{
        font-size: 4rem;
    }
    .test-layer p{
        font-size: 2rem;
    }
    .test-layer a {
        height: 6rem;
        width: 6rem;
    }
    .test-layer a i{
        font-size: 2.5rem;
    }
    .contact form{
        max-width: 80rem;
    }
    .head{
        font-size: 3rem;
        padding-top: 2.6rem;
    }
    .input{
        width: 53rem;
    }
    .name{
        height: 5rem;
        width: 26rem;
    }
    #email,#pass,#dateOfBirth{
        height: 5rem;
        width: 53rem;
    }
    .gender{
        padding-top: 2rem;
    }
    .sex{
        height: 5rem;
        width: 17rem;
        display: flex;
        justify-content: space-between;
    }
    .Gen{
        font-size: 2.1rem;
        display: flex;
    }
    .signup{
        height: 5rem;
        width: 17rem;
        font-size: 2rem;
    }
    .auth p{
        font-size: 2rem;
        padding-top: 2rem;
    }
    .txt{
        font-size: 2.3rem;
        padding-top: 2.5rem;
    }
    .email{
        padding-bottom: 3rem;
    }
    .container2{
        position: absolute;
        left: 35%;
        height: 55rem;
        width: 55rem;
    }
    .close2{
        left: 94%;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 40px;
    }
    .container2 h2{
        font-size: 4rem;
        padding-bottom: 2rem;
    }
    .login_mail2{
        width: 50rem;
        padding-left: 3rem;
    }
    .login_pass2{
        width: 50rem;
        padding-left: 3rem;
    }
    .login_btn2 #log_in2{
        width: 50rem;
        height: 7rem;
        font-size: 2.5rem;
    }
    .login_btn2{
        padding-top: 1rem;
    }
    .forgot2{
        font-size: 2rem;
    }
    .icon-mail2,#mail2,#pass2,.lock{
        font-size: 2rem;
    }
    .pass_pad{
        padding-top: 3rem;
    }
    .container3{
        position: absolute;
        left: 0%;
        width: 60rem;
    }
    .container3 #mail3{
        height: 6rem;
    }
    .container3 h1{
        font-size: 4rem;
        padding-bottom: 1rem;
        padding-top: 3rem;
    }
    .container3 input{
        padding-left: 3rem;
    }
    input #otp_inp,#mail3{
        height: 5rem;
    }
    .otpverify{
        height: 7rem;
    }
    .close3{
        left: 95.5%;
    }
    .btn3{
        height: 6rem;
        width: 17rem;
        font-size: 2rem;
    }
    .pad{
        padding-top: 2rem;
    }
    .container2{
        height: 80rem;
        width: 75rem;
        flex-direction: column;
        align-items: center;
        left: 25%;
        display: flex;
        pointer-events: all;
    }
    .container2 h2{
        position: relative;
        top: 0;
        font-size: 5rem;
        padding-top: 4rem;
    }
    .close2{
        left: 91.5%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 60px;
        width: 6rem;
        height: 6rem;
        font-size: 6.5rem;
        padding-bottom:1rem;
    }
    .close2 i{
        padding-left: 1rem;
    }
    .log_inp{
        width: 60rem;
        height: 8rem;
    }
    .elements2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icon-mail2,#mail2,#pass2,.lock{
        font-size: 3rem;
    }
    .elements2 span{
        font-size: 4rem;
        margin-top: 2rem;
    }
    .login_btn2{
        width: 60rem;;
        height: 20rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
    .login_btn2 #log_in2{
        width: 87rem;
        height: 10rem;
        font-size: 3rem;
    }
    .forgot2{
        font-size: 3rem;
    }
    .forgot2 label{
        margin-right: -7rem;
    }
    #forgot2{
        margin-left: -4rem;
    }
    .container3{
        width: 75rem;
        left: 4%;
        gap: 7px;
        left: 25%;
    }
    .container3 h1{
        font-size: 6rem;
    }
    .container3 input{
        padding: 4rem;
        font-size: 3rem;
    }
    .close3{
        font-size: 5rem;
        padding-left: 0.5rem;
        padding-bottom: 0.5rem;
        left: 91.5%;
        width: 6rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 60px;
    }
    .btn3{
        width: 28rem;
        height: 8rem;
        font-size: 3rem;
    }
}
@media(max-width:798px){
    html{
        font-size: 30%;
    }
    .image{
        display: none;
    }
    .search{
        width: 60vw;
        height: 10vh; 
    }
    .search-input {
        width: 70%;
        height: 8rem;
        font-size: 2.7rem;
    }
    .search-button {
        width: 22%;
        height: 8rem;
        top: -0px;
        left: 50%;
        font-size: 2.7rem;
    }
    .home-content h3{
        font-size: 3.5rem;
    }
    .home-content h1{
        font-size: 5.5rem;
    }
    #menu{
        display: block;
        cursor: pointer;
        font-size: 6rem;
        color: var(--text-color);
    }
    #darkMode-icon{
        font-size: 5rem;
        padding-right: 4%;
    }
    .logo{
        font-size: 5rem;
    }
    .footer{
        padding: 2rem 3%;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }
    .navbar.hover{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 3rem;
        margin: 3rem 0;
    }
    .navbar{
        background-color: var(--bg-color);
    }
    a.btn2{
        font-size: 11.04px;
        padding-left: -20%;
    }
    .btn2{
        width: 70.68px;
        height: 26.5px;
    }
    .header{
        padding-top: 5%;
    }
    .test .test-container{
        grid-template-columns: 1fr;
    }
    .test-layer h4{
        font-size: 6rem;
    }
    .test-layer p{
        font-size: 3rem;
    }
    .test-layer a {
        height: 8rem;
        width: 8rem;
    }
    .test-layer a i{
        font-size: 3.5rem;
    }
    .courses .courses-container{
        grid-template-columns: 1fr;
    }
}
@media(max-width:500px){
    .container2{
        height: 115rem;
        width: 75rem;
        flex-direction: column;
        align-items: center;
        left: 5%;
        pointer-events: all;
    }
    .container2 h2{
        position: relative;
        top: 0;
        font-size: 6rem;
        padding-top: 6rem;
        display: flex;
    }
    .close2{
        left: 88.8%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 60px;
        width: 8rem;
        font-size: 6.5rem;
        padding-bottom:1rem;
    }
    .close2 i{
        padding-left: 1rem;
    }
    .log_inp{
        width: 60rem;
        height: 15rem;
    }
    .elements2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icon-mail2,#mail2,#pass2,.lock{
        font-size: 3rem;
    }
    .elements2 span{
        font-size: 4rem;
        margin-top: 5rem;
    }
    .login_btn2{
        width: 60rem;;
        height: 20rem;
        margin-top: 7rem;
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
    }
    .login_btn2 #log_in2{
        width: 87rem;
        height: 14rem;
        font-size: 3rem;
    }
    .forgot2{
        font-size: 3rem;
        margin-left: -2rem;
    }
    .forgot2 label{
        margin-right: -10rem;
    }
    #forgot2{
        margin-left: -4rem;
    }
    .container3{
        width: 75rem;
        left: 4.5%;
        gap: 7px;
    }
    .container3 h1{
        font-size: 6rem;
    }
    .container3 input{
        padding: 4rem;
        font-size: 3rem;
    }
    .close3{
        font-size: 5rem;
        padding: 1rem;
        left: 91.5%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 60px;
    }
    .btn3{
        width: 28rem;
        height: 8rem;
        font-size: 3rem;
    }
    .thankyou{
        left: 20%;
        width: 50rem;
        height: 35rem;
    }
    .thankyou h2{
        font-size: 5rem;
    }
    .thankyou p{
        font-size: 2.5rem;
        margin-top: -2rem;
    }
    .image2{
        width: 10rem;
        top: -14%;
    }
    #ok{
        font-size: 2.2rem;
    }
    #sendmsg{
        width: 30rem;
        height: 7rem;
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    #pop_up{
        width: 16rem;
        height: 6rem;
        font-weight: 600;
        text-align: center;
    }
}
@media(max-width:450px){
    .search{
        width: 80vw;
        height: 10vh;
    }
    .image{
        display: none;
    }
    
    .search-input {
        width: 70%;
        height: 8rem;
        font-size: 2.5rem;
    }
    .search-button {
        width: 25%;
        height: 8rem;
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .contact form .input-box input{
        width: 100%;
    }
    .contact form{
        width: 100%;
    }
    .test-layer h4{
        font-size: 5rem;
    }
    .test-layer p{
        font-size: 2.7rem;
    }
    .test-layer a {
        height: 8rem;
        width: 8rem;
    }
    .test-layer a i{
        font-size: 3.5rem;
    }
    .about-content span.btn{
        left: 33%;
    }
    .about-img img{
        width: 90vw;
        height: 50vh;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social-media{
        margin-top: 2rem;
        padding-right: 38rem;
    }
    .social-media a{
        height: 6rem;
        width: 6rem;
    }
    .footer-iconTop a{
        height: 6rem;
        width: 6rem;
    }
    .footer-iconTop a i{
        font-size: 4rem;
    }
    .contact a{
        font-size: 1.88rem;
        width: 20rem;
        
    }
}
@media(max-width:376px){
    html{
        font-size: 30%;
    }
    .search{
        width: 80vw;
    }
    .social-media{
        margin-top: 2rem;
        padding-right: 35rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-content h3{
        font-size:3rem;
    }
    .about-img img{
        width: 90vw;
        height: 50vh;
    }
    .about-content span.btn{
        left: 30%;
    }
    .contact form{
        width: 70rem;
    }
    
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
}
input:autofill{
    filter: none;
    color: #ffffff !important; 
    background-color: #1f1f3a !important;
}
input:-ms-input-placeholder {
    color: #ffffff !important;
}